
body{
    background: #202124;
    background-image: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    
}
table{
  transform: translate(750px);
    color: white;
}
a{
    color: white;
}
form{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

h1{
    font-family: arial, sans-serif;
    color: white;
    font-size: 90px;
    transform: translate(50%)
}
input[name="q"]{
    border-radius: 15px;
    background: #202124;
    border: 1px solid white;
    height: 25px;
    width:400px
}
input[type="submit"]{
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    padding: 6px;
    transform: translate(70%);
    font-size: 14px;
    font-family: sans-serif;
}

input[type="submit"]:hover{
    border: 1px solid white;
    
}
